# LocalStack Container Configuration
LOCALSTACK_DOCKER_NAME=localstack-main
LOCALSTACK_AUTH_TOKEN=
DEBUG=0
PERSISTENCE=0
LOCALSTACK_VOLUME_DIR=./volume

# Port Mappings
LOCALSTACK_GATEWAY_PORT=4566
LOCALSTACK_HTTPS_PORT=443
